:root {
  --ifm-color-primary: #55a630;
  --ifm-color-primary-dark: #4c952b;
  --ifm-color-primary-darker: #488d29;
  --ifm-color-primary-darkest: #3b7422;
  --ifm-color-primary-light: #5db735;
  --ifm-color-primary-lighter: #62bf37;
  --ifm-color-primary-lightest: #73cb4b;
}

[data-theme='dark'] {
  --ifm-color-primary: #aacc00;
  --ifm-color-primary-dark: #99b800;
  --ifm-color-primary-darker: #90ad00;
  --ifm-color-primary-darkest: #778f00;
  --ifm-color-primary-light: #bbe000;
  --ifm-color-primary-lighter: #c3eb00;
  --ifm-color-primary-lightest: #d6ff0a;
}
