.heroBanner {
  padding: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .heroBanner {
    padding: 4rem 0;
  }
}
