.featuresContainer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .featuresContainer {
    padding: 4rem 1rem;
    flex-direction: row;
  }
}
